/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body {
    background-color: #212121;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00FEBA, #5B548A);
    color: white;
    margin: 100px auto 100px;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

/* SEARCH BAR */

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #EBFFFC;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1; 
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #EBFFFC;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 25px;
}

/* WEATHER INFO */

.weather {
    display: none;
}

.weather .weather-icon {
    width: 170px;
    margin-top: 40px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 200;
    margin-top: -15px;
}

/* WEATHER DETAILS */

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.section {
    display: flex;
    align-items: center;
    text-align: left;
}

.section img {
    width: 40px;
    margin-right: 10px;
}

.humidity, 
.wind-speed {
    font-size: 28px;
    font-weight: 200;
}

/* ERROR */

.error {
    display: none;
    color: red;
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 14px;
}